<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cumple">

        <activity
            android:name=".Propinas"
            android:exported="false"
            android:label="@string/title_activity_propinas"
            android:theme="@style/Theme.Cumple" >
        </activity>

        <activity
            android:name=".Ejercicio3"
            android:exported="true"
            android:label="@string/title_activity_ejercicio3"
            android:theme="@style/Theme.Cumple">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Ejercicio2"
            android:exported="false"
            android:label="@string/title_activity_ejercicio2"
            android:theme="@style/Theme.Cumple" />
        <activity
            android:name=".Ejercicio"
            android:exported="false"
            android:label="@string/title_activity_ejercicio"
            android:theme="@style/Theme.Cumple" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cumple">
        </activity>

    </application>

</manifest>